In [2]:
import pandas as pd
import json

In [3]:
checkin_path="/home/jaume/Escritorio/Ultim_Semestre/Comp.ML/Practicas/project/Yelp-JSON/Yelp JSON/yelp_dataset/yelp_academic_dataset_checkin.json"
business_path="/home/jaume/Escritorio/Ultim_Semestre/Comp.ML/Practicas/project/Yelp-JSON/Yelp JSON/yelp_dataset/yelp_academic_dataset_business.json"
review_path="/home/jaume/Escritorio/Ultim_Semestre/Comp.ML/Practicas/project/Yelp-JSON/Yelp JSON/yelp_dataset/yelp_academic_dataset_review.json"
tip_path="/home/jaume/Escritorio/Ultim_Semestre/Comp.ML/Practicas/project/Yelp-JSON/Yelp JSON/yelp_dataset/yelp_academic_dataset_tip.json"
user_path="/home/jaume/Escritorio/Ultim_Semestre/Comp.ML/Practicas/project/Yelp-JSON/Yelp JSON/yelp_dataset/yelp_academic_dataset_user.json"

In [4]:
'''
with open(checkin_path, "r", encoding="utf-8") as f:
    data = [json.loads(line) for line in f]

checkin = pd.DataFrame(data)
with open(business_path, "r", encoding="utf-8") as f:
    data = [json.loads(line) for line in f]

business = pd.DataFrame(data)'''
with open(review_path, "r", encoding="utf-8") as f:
    data = [json.loads(line) for line in f]

review = pd.DataFrame(data)
'''
with open(tip_path, "r", encoding="utf-8") as f:
    data = [json.loads(line) for line in f]

tip = pd.DataFrame(data)
with open(user_path, "r", encoding="utf-8") as f:
    data = [json.loads(line) for line in f]

user = pd.DataFrame(data)
'''

'\nwith open(tip_path, "r", encoding="utf-8") as f:\n    data = [json.loads(line) for line in f]\n\ntip = pd.DataFrame(data)\nwith open(user_path, "r", encoding="utf-8") as f:\n    data = [json.loads(line) for line in f]\n\nuser = pd.DataFrame(data)\n'

In [5]:
review

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,KU_O5udG6zpxOg-VcAEodg,mh_-eMZ6K5RLWhZyISBhwA,XQfwVwDr-v0ZS3_CbbE5Xw,3.0,0,0,0,"If you decide to eat here, just be aware it is...",2018-07-07 22:09:11
1,BiTunyQ73aT9WBnpR9DZGw,OyoGAe7OKpv6SyGZT5g77Q,7ATYjTIgM3jUlt4UM3IypQ,5.0,1,0,1,I've taken a lot of spin classes over the year...,2012-01-03 15:28:18
2,saUsX_uimxRlCVr67Z4Jig,8g_iMtfSiwikVnbP2etR0A,YjUWPpI6HXG530lwP-fb2A,3.0,0,0,0,Family diner. Had the buffet. Eclectic assortm...,2014-02-05 20:30:30
3,AqPFMleE6RsU23_auESxiA,_7bHUi9Uuf5__HHc_Q8guQ,kxX2SOes4o-D3ZQBkiMRfA,5.0,1,0,1,"Wow! Yummy, different, delicious. Our favo...",2015-01-04 00:01:03
4,Sx8TMOWLNuJBWer-0pcmoA,bcjbaE6dDog4jkNY91ncLQ,e4Vwtrqf-wpJfwesgvdgxQ,4.0,1,0,1,Cute interior and owner (?) gave us tour of up...,2017-01-14 20:54:15
...,...,...,...,...,...,...,...,...,...
6990275,H0RIamZu0B0Ei0P4aeh3sQ,qskILQ3k0I_qcCMI-k6_QQ,jals67o91gcrD4DC81Vk6w,5.0,1,2,1,Latest addition to services from ICCU is Apple...,2014-12-17 21:45:20
6990276,shTPgbgdwTHSuU67mGCmZQ,Zo0th2m8Ez4gLSbHftiQvg,2vLksaMmSEcGbjI5gywpZA,5.0,2,1,2,"This spot offers a great, affordable east week...",2021-03-31 16:55:10
6990277,YNfNhgZlaaCO5Q_YJR4rEw,mm6E4FbCMwJmb7kPDZ5v2Q,R1khUUxidqfaJmcpmGd4aw,4.0,1,0,0,This Home Depot won me over when I needed to g...,2019-12-30 03:56:30
6990278,i-I4ZOhoX70Nw5H0FwrQUA,YwAMC-jvZ1fvEUum6QkEkw,Rr9kKArrMhSLVE9a53q-aA,5.0,1,0,0,For when I'm feeling like ignoring my calorie-...,2022-01-19 18:59:27
6990279,RwcKOdEuLRHNJe4M9-qpqg,6JehEvdoCvZPJ_XIxnzIIw,VAeEXLbEcI9Emt9KGYq9aA,3.0,10,3,7,Located in the 'Walking District' in Nashville...,2018-01-02 22:50:47

In [6]:
review_short= review.drop(columns=["user_id","business_id","date"])
review_short

,review_id,stars,useful,funny,cool,text
0,KU_O5udG6zpxOg-VcAEodg,3.0,0,0,0,"If you decide to eat here, just be aware it is..."
1,BiTunyQ73aT9WBnpR9DZGw,5.0,1,0,1,I've taken a lot of spin classes over the year...
2,saUsX_uimxRlCVr67Z4Jig,3.0,0,0,0,Family diner. Had the buffet. Eclectic assortm...
3,AqPFMleE6RsU23_auESxiA,5.0,1,0,1,"Wow! Yummy, different, delicious. Our favo..."
4,Sx8TMOWLNuJBWer-0pcmoA,4.0,1,0,1,Cute interior and owner (?) gave us tour of up...
...,...,...,...,...,...,...
6990275,H0RIamZu0B0Ei0P4aeh3sQ,5.0,1,2,1,Latest addition to services from ICCU is Apple...
6990276,shTPgbgdwTHSuU67mGCmZQ,5.0,2,1,2,"This spot offers a great, affordable east week..."
6990277,YNfNhgZlaaCO5Q_YJR4rEw,4.0,1,0,0,This Home Depot won me over when I needed to g...
6990278,i-I4ZOhoX70Nw5H0FwrQUA,5.0,1,0,0,For when I'm feeling like ignoring my calorie-...
6990279,RwcKOdEuLRHNJe4M9-qpqg,3.0,10,3,7,Located in the 'Walking District' in Nashville...

Lowecasing

In [7]:
review_lower=review_short
review_lower["text"]=review_lower["text"].str.lower()
review_lower

,review_id,stars,useful,funny,cool,text
0,KU_O5udG6zpxOg-VcAEodg,3.0,0,0,0,"if you decide to eat here, just be aware it is..."
1,BiTunyQ73aT9WBnpR9DZGw,5.0,1,0,1,i've taken a lot of spin classes over the year...
2,saUsX_uimxRlCVr67Z4Jig,3.0,0,0,0,family diner. had the buffet. eclectic assortm...
3,AqPFMleE6RsU23_auESxiA,5.0,1,0,1,"wow! yummy, different, delicious. our favo..."
4,Sx8TMOWLNuJBWer-0pcmoA,4.0,1,0,1,cute interior and owner (?) gave us tour of up...
...,...,...,...,...,...,...
6990275,H0RIamZu0B0Ei0P4aeh3sQ,5.0,1,2,1,latest addition to services from iccu is apple...
6990276,shTPgbgdwTHSuU67mGCmZQ,5.0,2,1,2,"this spot offers a great, affordable east week..."
6990277,YNfNhgZlaaCO5Q_YJR4rEw,4.0,1,0,0,this home depot won me over when i needed to g...
6990278,i-I4ZOhoX70Nw5H0FwrQUA,5.0,1,0,0,for when i'm feeling like ignoring my calorie-...
6990279,RwcKOdEuLRHNJe4M9-qpqg,3.0,10,3,7,located in the 'walking district' in nashville...

In [8]:
corpus=review_lower.drop(columns=["stars","useful","funny","cool"])

In [9]:
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize

# Descargar los paquetes necesarios (solo la primera vez)
nltk.download('stopwords')
nltk.download('punkt')

# Asegurar que la columna "text" sea string
corpus["text"] = corpus["text"].astype(str)

# Definir las stopwords en inglés
stop_words = set(stopwords.words('english'))

# Crear una nueva columna con listas vacías
corpus["words"] = corpus["text"].str.lower().apply(lambda x: [word for word in word_tokenize(x) if word not in stop_words])

[nltk_data] Downloading package stopwords to /home/jaume/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to /home/jaume/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

KeyboardInterrupt: